# Ignore the contents of the _site directory and other cache directories
_site/
public/
.deploy_git/
.hexo/
db.json
.playwright-cli/
output/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules

# Ignore the vendor file and bundle for alternative installation
vendor/
.bundle/
.vs/
.DS_Store
